{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Change Password</title>

    <style>
        *{
            margin: 9px 5px;
        }
        .center{
            width: 430px;
            margin: auto;
        }
    </style>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
</head>
<body>
    <h1 class="center">Logged in as {{cvar.name}}</h1>
    <div class="center">
        <form action="{% url 'updatepassword' cvar.id %}" method="post" class="row">
            {% csrf_token %}
            <div class="labels">
            <label for="name">Student ID</label>
            {{cvar.id}}
            </div>
            <div class = "labels">
            <label for="contact">Existing Password:</label>
            <input type="text" id="contact" name = "oldpass">
            </div>
            <div class = "labels">
            <label for="address">New Password:</label>
            <input type="text" id="address" name = "newpass">
            </div>
            <button type="submit">Confirm</button>
        </form>
        <form action="{% url 'back' cvar.id %}" method="post" class="row"> {% csrf_token %}
            <button type="submit">Dashboard</button>
        </form>
      </div>

</body>
</html>