<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Drop Student</title>

    <style>
        *{
            margin: 9px 5px;
        }
        .center{
            width: 430px;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1 class="center">Drop Student</h1>
    <div class="center">
        <form action="#" method="post" class="row">
            <div class="labels">
            <label for="sid">Student ID</label>
            <input type="text" id="sid" name = "sid">
            </div>
            <button type="submit">Drop</button>
        </form>
      </div>

</body>
</html>