{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Modification</title>

    <style>
        *{
            margin: 9px 5px;
        }
        .center{
            width: 430px;
            margin: auto;
        }
    </style>
<link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
</head>

<body>
    <h1 class="center">Student Details Modification</h1>
    <div class="center">
        <form action="{% url 'changestd' %}" method="post" class="row"> {% csrf_token %}
            <div class = "labels">
            <label for="Code">Student ID</label>
            <input type="text" id="Code" name="sid">
            </div>
            <div class = "labels">
            <label for="contactnew">New Contact</label>
            <input type="text" id="contactnew" name="newnum">
            </div>
            <div class = "labels">
            <label for="addnew">New Address</label>
            <input type="text" id="addnew" name = "newadd">
            </div>
            <div class = "labels">
                <label for = "course">New Course</label>
                <select name="newcourse" id="newcourse" >
                    {% for course in course_list %}
                    <option value="{{ course.course_id }}">{{ course.course_id }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Confirm</button>
            <!-- {% include 'Common/Success.html' %} -->
        </form>
        <form action="{% url 'back' %}" method="post" class="row"> {% csrf_token %}
            <button type="submit">Dashboard</button>
        </form>
      </div>
    <script>
        // setTimeout(function (){
        //     if($('#msg').length>0){
        //         $('#msg').remove();
        //     }
        // }, 2000)
    </script>
</body>
</html>