<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Course Modification</title>

    <style>
        *{
            margin: 9px 5px;
        }
        .center{
            width: 430px;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1 class="center">Student Details Modification</h1>
    <div class="center">
        <form>
            <div class="labels">
            <label for="stuName">Student Name</label>
            <input type="text" id="stuName">
            </div>
            <div class = "labels">
            <label for="Code">Student ID</label>
            <input type="text" id="Code">
            </div>
            <input type="checkbox" id="option" name="option" value="defaultt">
            <label for="option">Ok</label><br>
            <div class = "labels">
            <label for="contactold">Old Contact</label>
            <input type="text" id="contactold">
            </div>
            <input type="checkbox" id="option1" name="option1" value="mobile">
            <label for="option1"> Same as old</label><br>
            <div class = "labels">
            <label for="contactnew">New Contact</label>
            <input type="text" id="contactnew">
            </div>
            <div class = "labels">
            <label for="addold">Old Address</label>
            <input type="text" id="addold">
            </div>
            <input type="checkbox" id="option2" name="option2" value="address">
            <label for="option2"> Same as old</label><br>
            <div class = "labels">
            <label for="addnew">New Address</label>
            <input type="text" id="addnew">
            </div>

            <button type="submit">Confirm</button>
        </form>
      </div>

</body>
</html>