<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Course Modification</title>

    <style>
        *{
            margin: 9px 5px;
        }
        .center{
            width: 430px;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1 class="center">Course Modification</h1>
    <div class="center">
        <form>
            <div class="labels">
            <label for="courseNAme">Old Course Name</label>
            <input type="text" id="courseName">
            </div>
            <div class = "labels">
            <label for="Code">Course Code</label>
            <input type="text" id="Code">
            </div>
            <div class="labels">
                <label for="CodeNew">New Course Code</label>
                <input type="text" id="CodeNew">
            </div>
            <div class="labels">
                <label for="NewCourseName">New Course Name</label>
                <input type="text" id="NewCourseName">
            </div>
            <button type="submit">Confirm</button>
        </form>
      </div>
      
</body>
</html>
