{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Notification</title>
    <style>
        *{
            margin: 9px 5px;
        }
        .center{
            width: 430px;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1 class="center">Notification</h1>
    <div class="center">
        <form action="{% url 'pushnotice' %}" method="post" class="row"> {% csrf_token %}

            <div class = "labels">
                <label for = "course">Notice for Course</label>
                <select name="course" id="course" >
                    {% for course in course_list %}
                    <option value="{{ course.course_id }}">{{ course.course_id }}</option>
                    {% endfor %}
                </select>
            </div>
            <p><label for="notice">Notice </label></p>
            <textarea id="notice" name="notice" rows="4" cols="50" placeholder="Enter announcement here"> </textarea>

            <button type="submit">Confirm</button>

        </form>
        <form action="{% url 'back' %}" method="post" class="row"> {% csrf_token %}
            <button type="submit">Dashboard</button>
        </form>
      </div>

</body>
</html>